.header {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  padding-bottom: 20px;
  background: #fafbfd;

  &.fixed {
    box-shadow: 0 4px 12px rgba(0,0,0,0.15)
  }
}

.header-filter {
  position: relative;
  z-index: 8;
  display: flex;
  height: 62px;
  padding: 20px 0 0;

  &.hide {
    display: none;
  }

  &.disabled::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 100%, .5);
    z-index: 9;
  }
}

.header-action {
  display: none;
  padding-top: 20px;
  padding-bottom: 2px;

  &.active {
    display: flex;
  }
}

.header-action-result {
  display: flex;
  width: 180px;
  margin-top: 12px;
  padding-left: 20px;

  &__close {
    width: 16px;
    height: 16px;
    margin-right: 12px;
    transition: .3s;
    border: none;
    background: url(../img/close.svg) center no-repeat;

    &:focus {
      outline: 0;
    }

    &:hover {
      opacity: .7;
      cursor: pointer;
    }
  }

  &__title {
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: .5px;
    color: rgba(21, 27, 61, 0.68);
  }
}

.header-action-btn {
  font-size: 12px;
  font-weight: 500;
  height: 40px;
  margin: 0 10px;
  padding: 0 20px;
  transition: .3s;
  border-radius: 15px;

  &:hover {
    opacity: .7;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &--yes {
    color: #151b3d;
    background: #f5b36b;
  }

  &--no {
    color: #fff;
    background: #504e5b;
  }

  &--repeat {
    color: #151b3d;
    border: 1px solid #d7d6d6;
  }
}


