.header {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  padding-bottom: 20px;
  background: #fafbfd;

  &.fixed {
    box-shadow: 0 4px 12px rgba(0,0,0,0.15)
  }
}

.header-filter {
  z-index: 8;
  display: flex;
  height: 62px;
  padding: 20px 0 0;

  &.hide {
    display: none;
  }
}

.header-action {
  display: none;
  padding-top: 20px;
  padding-bottom: 2px;

  &.active {
    display: flex;
  }
}
