.filter-input {
  position: relative;
  box-sizing: border-box;
  height: 40px;
  margin: 0 10px;
  border-radius: 15px;
  background: #fff;

  .icon {
    content: '';
    position: absolute;
    top: 0;
    left: 5px;
    width: 40px;
    height: 38px;

    &.icon-search {
      background: url(../img/search.svg) center no-repeat;
    }

    &.icon-calendar {
      color: #9B9B9B;
    }
  }

  &__input {
    font-size: 12px;
    font-weight: 500;
    line-height: 38px;
    width: 100%;
    height: 100%;
    padding: 0 20px 0 45px;
    transition: .3s;
    letter-spacing: .5px;
    color: rgba(21,27,61,0.54);
    border: 1px solid #eee;
    border-radius: 15px;
    background: 0 0;

    &:focus,
    &--active {
      border: 1px solid #eb9a42;
      outline: none;
    }
  }

  &__picker {
    display: none;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    z-index: 10;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.48);
    &--show {
      display: block;
    }

    .rdrDayToday .rdrDayNumber span:after {
      background: #eb9a42;
    }
  }

  &__picker-wrap {
    position: relative;
    .filter-input {
      width: 210px;
    }
  }

  &-cleaner {
    display: flex;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    right: 10px;
    opacity: 0.4;
    transform: translateY(-50%);
    transition: all 0.3s 0s;
    padding: 0;
    border: none;
    background-color: transparent;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    svg {
      display: block;
      width: 100%;
      height: 100%;
      margin: auto;
    }

    &.hidden {
      visibility: hidden;
      opacity: 0;
    }
  }
}

.filter-dropdown {
  width: 180px;
}

.input-loader {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}

.filter-input.dropdown {
  .dropdown-menu {
    min-width: 380px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .dropdown-item {
    padding: 11px 22px 13px 25px;
    border-bottom: 1px solid #EAECF5;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      cursor: default;
      background-color: transparent;
      color: #212529;
    }
  }

  .filter {
    &__title {
      display: block;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 2px;
    }

    &__inn {
      display: block;
      font-weight: 500;
      font-size: 14px;
      color: #B8B8B8;
      line-height: 18px;
    }

    &__link {
      border: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      text-align: right;
      color: #EB9A42;
      display: inline-block;
      padding-right: 15px;
      background: transparent url(../img/link_arrow.svg) no-repeat right center/9px 9px;
      white-space: nowrap;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }


}
